<h1>String Interpolation</h1>
<p>
  stringInterpolation = {{stringInterpolation}} <br>
  numberInterpolation = {{numberInterpolation}}
</p>
<hr>
<h1>Property Binding</h1>
<input type="text" value="{{stringInterpolation}}"><br>
<input type="numI" [value]="numberInterpolation">
<p [ngClass]="{redBorder: true}">Is this Border stylized?</p>
<p [ngStyle]="{color: 'Blue'}">Is this stylized Blue?</p>
<h3>MRK Custom Property Binding</h3>
<mrk-property-bindings [result] = "numberInterpolation"></mrk-property-bindings>
<hr>
<h1>Event Binding</h1>
<mrk-event-bindings (clicked)="onClickedDataBinding($event)">
</mrk-event-bindings>
<p>
  stringInterpolation =   {{stringInterpolation}}<br>
  numberInterpolation = {{numberInterpolation}}
</p>
